*{
font-family: Arial, sans-serif;
box-sizing: border-box;
}


body{
background: linear-gradient(135deg,#25D366,#128C7E);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.card{
background: #fff;
padding: 25px;
width: 350px;
border-radius: 12px;
box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


h2{
text-align: center;
margin-bottom: 20px;
}


label{
font-size: 14px;
margin-top: 10px;
display: block;
}


input, textarea{
width: 100%;
padding: 10px;
margin-top: 5px;
border-radius: 8px;
border: 1px solid #ccc;
}


textarea{
resize: none;
height: 70px;
}


button{
width: 100%;
padding: 12px;
margin-top: 15px;
border: none;
border-radius: 8px;
background: #25D366;
color: white;
font-size: 16px;
cursor: pointer;
}


.copy{
background:#128C7E;
}


button:hover{
opacity: 0.9;
}


#result{
margin-top: 10px;
text-align: center;
font-size: 13px;
}